<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="https://png.pngtree.com/png-clipart/20220221/original/pngtree-watercolor-of-dried-wheat-isolated-on-transparent-background-png-image_7284991.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/style.css">
  <title><%= title %></title>
</head>
<body>
  <nav class="dashboard-nav">
    <div class="logo dashboard-wrapper">
      <a href="/">
        <img src="https://png.pngtree.com/png-clipart/20220221/original/pngtree-watercolor-of-dried-wheat-isolated-on-transparent-background-png-image_7284991.png" alt="">
      </a>
      <a href="/dashboard">
        <h1>Dashboard</h1>
      </a>
    </div>
    <div class="details">
      <span class="admin">welcome <span style="color:#91662b; margin-left: 25px;"><%= adminName %></span></span>
    </div>
  </nav>
  
  <aside>
    <div class="wrapper">
      <div class="item">
        <a href="/dashboard/menu">
          <div>Meun</div>
        </a>
      </div>
      <div class="item">
        <a href="/dashboard/gallary">
          <div>Gallary</div>
        </a>
      </div>
      <div class="item">
        <a href="/dashboard/events">
          <div>Events</div>
        </a>
      </div>
      <div class="item">
        <a href="/dashboard/blogs">
          <div>Blogs</div>
        </a>
      </div>
    </div>
  </aside>

  <div id="menuToggle">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items dashboard_menu-items">
        <div class="item">
        <a href="/dashboard/menu">
          <div>Meun</div>
        </a>
      </div>
      <div class="item">
        <a href="/dashboard/gallary">
          <div>Gallary</div>
        </a>
      </div>
      <div class="item">
        <a href="/dashboard/events">
          <div>Events</div>
        </a>
      </div>
      <div class="item">
        <a href="/dashboard/blogs">
          <div>Blogs</div>
        </a>
      </div>
      </ul>
    </div>

    <%- body -%>
</body>
</html>