<!-- header -->
      <header>
        <div class="header-wrapper">
          <div class="details">
            <h1>_Restraunt</h1>
            <h2>Good Food & Good Mood</h2>
            <p>Lorem ipsum dolor sit amet consectetur <span>, adipisicing elit.</span> </p>
            <button class="explore"> Explore to menu &rarr;</button>
          </div>
          <div class="photo">
            <img src="https://png.pngtree.com/png-clipart/20220221/original/pngtree-watercolor-of-dried-wheat-isolated-on-transparent-background-png-image_7284991.png" alt="">
          </div>
        </div>
      </header>
<!-- header -->

<main>
  <div class="about-wrapper">
    <div class="vision-container">
      <h3>Our vision</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
    </div>
    <div class="mission-container">
      <h3>Our mission</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
    </div>
  </div>
</main>