<main>
  <div class="contact-wrapper">
    <div class="image-container">
      <img src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?w=826&t=st=1670344362~exp=1670344962~hmac=af55eaf47d1acdf7ba1bb3e40870aec4cc793ac2c6cef057fc9f7c957c591900" alt="">
    </div>
    <form action="">
      <span class="title">Get in touch</span>
      <div class="form-element">
        <label for="name">Name</label>
        <input type="text" name="" id="name">
      </div>
      <div class="form-element">
        <label for="email">Email</label>
        <input type="text" name="" id="email">
      </div>
      <div class="form-element">
        <label for="question">Question</label>
        <input type="text" name="" id="question">
      </div>
      <div class="form-element">
        <label for="message">Message</label>
        <textarea name="" id="message" cols="30" rows="10"></textarea>
      </div>
      <button type="submit">Send now</button>
    </form>
  </div>
</main>