<main class="add">
  <div class="form-wrapper">
    <form action="/dashboard/<%= title %>/add " enctype="multipart/form-data" method="POST">
      <%- include('_formAdd') %>
    </form>
  </div>  
</main>