<div class="admin_data-container">
  <div class="admin_data-wrapper">
    <img style="width: 100% ;height:calc(100vh - 230px);" src="https://png.pngtree.com/png-clipart/20220221/original/pngtree-watercolor-of-dried-wheat-isolated-on-transparent-background-png-image_7284991.png" alt="">
  </div>
</div>